<div class="container mt-5">
    <h2>User List</h2>
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Paginación -->
    <pagination-controls (pageChange)="page = $event" class="d-flex justify-content-center"></pagination-controls>
  </div>
  